@import "util";

// style
.ani-wrap {
  margin: 50px 0;
}

// dongdong
@keyframes dongdong {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.dongdong {
  width: 50px;
  animation-name: dongdong;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: linear;
}

// ringring
@keyframes ringring {
  0% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

.ringring {
  width: 40px;
  transform-origin: 100% 100%;
  animation-name: ringring;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

// arrow
@keyframes arrow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
.arrow-wrap {
  position: relative;
  height: 50px;

  .down {
    position: absolute;
    top: 0;
    left: 0;
    animation-name: arrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

// wave
@keyframes bgRepeat {
  0% {
    background-position: 0% bottom;
  }

  100% {
    background-position: 100% bottom;
  }
}

.ani-wrap2 {
  .wave-wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
  }

  .wave {
    @include bg-url(img, "ani_wave.png");

    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position: bottom left;
    background-repeat: repeat-x;
    animation-name: bgRepeat;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(0.55, 0.5, 0.45, 0.5);
    animation-iteration-count: infinite;
  }

  .wave2 {
    bottom: -10px;
    animation-duration: 15s;
  }

  .wave3 {
    bottom: -20px;
    animation-duration: 5s;
  }
}

// rotate
@keyframes rotateConts {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(359deg);
  }
}

.ani-wrap3 {
  overflow: hidden;
}

.rotate-wrapper {
  overflow: hidden;
}

.rotate-wrap {
  position: relative;
  padding-top: 100%;
  margin: 0 auto;
  animation-name: rotateConts;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .rotate-conts {
    @include flex-center;

    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    background-image: radial-gradient(circle, #fff, #ccc);
    font-size: 30px;
    font-weight: 600;
    animation-name: rotateConts;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;

    &1 {
      top: 0;
      left: calc(50% - 100px);
    }

    &2 {
      top: calc(25% - 125px);
      left: auto;
      right: calc(25% - 125px);
    }

    &3 {
      top: calc(50% - 100px);
      left: auto;
      right: 0;
    }

    &4 {
      top: auto;
      bottom: calc(25% - 125px);
      left: auto;
      right: calc(25% - 125px);
    }

    &5 {
      top: auto;
      bottom: 0;
      left: calc(50% - 100px);
    }

    &6 {
      top: auto;
      bottom: calc(25% - 125px);
      left: calc(25% - 125px);
    }

    &7 {
      top: calc(50% - 100px);
      left: 0;
    }

    &8 {
      top: calc(25% - 125px);
      left: calc(25% - 125px);
    }
  }
}

// circle
@keyframes circleWave {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    opacity: 0;
    width: 1000px;
    height: 1000px;
  }
}

.circle-wrap {
  @include flex-center;

  position: relative;
  height: 1000px;

  @include make-virtual {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(124, 229, 255, 0.3);
    transform: translate(-50%, -50%);
    animation-name: circleWave;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &:after {
    animation-delay: 1s;
  }

  .circle-grp {
    @include make-virtual {
      z-index: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: rgba(124, 229, 255, 0.3);
      transform: translate(-50%, -50%);
      animation-name: circleWave;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    &:before {
      animation-delay: 2s;
    }

    &:after {
      animation-delay: 3s;
    }
  }

  .circle-conts {
    z-index: 1;
    position: relative;
  }
}

//firework
@keyframes firework {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 0;
    left: 0;
  }
}
.ani-wrap5 {
  .stick-wrap {
    position: relative;
    width: 300px;
    height: 300px;
  }

  .stick {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 10px;
    height: 50%;
    font-size: 0;
    color: transparent;
    user-select: none;
    transform-origin: bottom center;

    @include make-before {
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      width: 10px;
      height: 30px;
      border-radius: 5px;
      background-color: #ffbd54;
      transition: all 0.4s;
      animation-name: firework;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }
  }

  @for $i from 1 through 8 {
    .stick#{$i} {
      transform: rotate($i * 45deg);
    }
  }
}

// car dashboard
@keyframes car_dashboard {
  0% {
    transform: rotate(-30deg);
  }

  10% {
    transform: rotate(0deg);
  }

  18% {
    transform: rotate(-8deg);
  }

  42% {
    transform: rotate(120deg);
  }

  54% {
    transform: rotate(120deg);
  }

  60% {
    transform: rotate(128deg);
  }

  90% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(-30deg);
  }
}

.ani-wrap6 {
  position: relative;
  height: 80px;
}

.loading-spinner {
  @include circle(80px);
  @include bg-op($s: 80px 80px);
  @include bg-url(img, "bg_spinner.svg");

  z-index: 10;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid yellow;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%);

  .stick {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 40%;
    height: 2px;
    margin-top: -1px;
    font-size: 0;
    background-color: red;
    transform-origin: bottom right;
    animation-name: car_dashboard;
    animation-iteration-count: infinite;
    animation-duration: 1500ms;
    animation-timing-function: cubic-bezier(1, 0.65, 0.22, 0.35);

    @include make-before {
      z-index: 2;
      position: absolute;
      top: auto;
      bottom: 0;
      left: auto;
      right: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: color(primary);
      transform: translate(50%, 50%);
    }
  }
}

// marquee
@keyframes marquee {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -1590px;
  }
}

.marquee-wrap {
  @include bg-op(left top, 1590px, repeat-x);
  @include bg-url(img, "marquee.png");

  position: relative;
  height: 160px;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

// svg stroke animation
@keyframes svg_stroke {
  0% {
    stroke-dashoffset: 100rem;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.svg-ani {
  stroke-width: 0.125rem;
  stroke-dasharray: 100rem;
  stroke-dashoffset: 100rem;
  animation-name: svg_stroke;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
