@-webkit-keyframes dongdong {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@keyframes dongdong {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
.ani-wrap {
  margin: 50px 0;
}

.dongdong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: radial-gradient(circle, beige, #f4f483);
  -webkit-animation-name: dongdong;
          animation-name: dongdong;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bgRepeat {
  0% {
    background-position: 0% bottom;
  }
  100% {
    background-position: 100% bottom;
  }
}

@keyframes bgRepeat {
  0% {
    background-position: 0% bottom;
  }
  100% {
    background-position: 100% bottom;
  }
}
.ani-wrap2 .wave-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
}
.ani-wrap2 .wave {
  background-image: url("../image/ani_wave.png");
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50%;
  background-position: bottom left;
  background-repeat: repeat-x;
  -webkit-animation: bgRepeat 10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: bgRepeat 10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.ani-wrap2 .wave2 {
  bottom: -10px;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}
.ani-wrap2 .wave3 {
  bottom: -20px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes rotateConts {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotateConts {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.rotate-wrapper {
  overflow: hidden;
}

.rotate-wrap {
  position: relative;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  -webkit-animation-name: rotateConts;
          animation-name: rotateConts;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.rotate-wrap .rotate-conts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  background-image: radial-gradient(circle, #fff, #ccc);
  font-size: 30px;
  font-weight: 600;
  -webkit-animation-name: rotateConts;
          animation-name: rotateConts;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  animation-direction: reverse;
}
.rotate-wrap .rotate-conts1 {
  top: 0;
  left: calc(50% - 100px);
}
.rotate-wrap .rotate-conts2 {
  top: calc(25% - 125px);
  left: auto;
  right: calc(25% - 125px);
}
.rotate-wrap .rotate-conts3 {
  top: calc(50% - 100px);
  left: auto;
  right: 0;
}
.rotate-wrap .rotate-conts4 {
  top: auto;
  bottom: calc(25% - 125px);
  left: auto;
  right: calc(25% - 125px);
}
.rotate-wrap .rotate-conts5 {
  top: auto;
  bottom: 0;
  left: calc(50% - 100px);
}
.rotate-wrap .rotate-conts6 {
  top: auto;
  bottom: calc(25% - 125px);
  left: calc(25% - 125px);
}
.rotate-wrap .rotate-conts7 {
  top: calc(50% - 100px);
  left: 0;
}
.rotate-wrap .rotate-conts8 {
  top: calc(25% - 125px);
  left: calc(25% - 125px);
}