.ani-wrap {
  margin: 50px 0;
}

@-webkit-keyframes dongdong {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes dongdong {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
.dongdong {
  width: 50px;
  -webkit-animation-name: dongdong;
          animation-name: dongdong;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes ringring {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes ringring {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.ringring {
  width: 40px;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-animation-name: ringring;
          animation-name: ringring;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
.arrow-wrap {
  position: relative;
  height: 50px;
}
.arrow-wrap .down {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation-name: arrow;
          animation-name: arrow;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bgRepeat {
  0% {
    background-position: 0% bottom;
  }
  100% {
    background-position: 100% bottom;
  }
}

@keyframes bgRepeat {
  0% {
    background-position: 0% bottom;
  }
  100% {
    background-position: 100% bottom;
  }
}
.ani-wrap2 .wave-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
}
.ani-wrap2 .wave {
  background-image: url("../image/ani_wave.png");
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50%;
  background-position: bottom left;
  background-repeat: repeat-x;
  -webkit-animation-name: bgRepeat;
          animation-name: bgRepeat;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.5, 0.45, 0.5);
          animation-timing-function: cubic-bezier(0.55, 0.5, 0.45, 0.5);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.ani-wrap2 .wave2 {
  bottom: -10px;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}
.ani-wrap2 .wave3 {
  bottom: -20px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes rotateConts {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotateConts {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.rotate-wrapper {
  overflow: hidden;
}

.rotate-wrap {
  position: relative;
  padding-top: 100%;
  margin: 0 auto;
  -webkit-animation-name: rotateConts;
          animation-name: rotateConts;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.rotate-wrap .rotate-conts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  background-image: radial-gradient(circle, #fff, #ccc);
  font-size: 30px;
  font-weight: 600;
  -webkit-animation-name: rotateConts;
          animation-name: rotateConts;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  animation-direction: reverse;
}
.rotate-wrap .rotate-conts1 {
  top: 0;
  left: calc(50% - 100px);
}
.rotate-wrap .rotate-conts2 {
  top: calc(25% - 125px);
  left: auto;
  right: calc(25% - 125px);
}
.rotate-wrap .rotate-conts3 {
  top: calc(50% - 100px);
  left: auto;
  right: 0;
}
.rotate-wrap .rotate-conts4 {
  top: auto;
  bottom: calc(25% - 125px);
  left: auto;
  right: calc(25% - 125px);
}
.rotate-wrap .rotate-conts5 {
  top: auto;
  bottom: 0;
  left: calc(50% - 100px);
}
.rotate-wrap .rotate-conts6 {
  top: auto;
  bottom: calc(25% - 125px);
  left: calc(25% - 125px);
}
.rotate-wrap .rotate-conts7 {
  top: calc(50% - 100px);
  left: 0;
}
.rotate-wrap .rotate-conts8 {
  top: calc(25% - 125px);
  left: calc(25% - 125px);
}

@-webkit-keyframes circleWave {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    opacity: 0;
    width: 1000px;
    height: 1000px;
  }
}

@keyframes circleWave {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    opacity: 0;
    width: 1000px;
    height: 1000px;
  }
}
.circle-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 1000px;
}
.circle-wrap:before {
  content: "";
  display: block;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(124, 229, 255, 0.3);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: circleWave;
          animation-name: circleWave;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.circle-wrap:after {
  content: "";
  display: block;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(124, 229, 255, 0.3);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: circleWave;
          animation-name: circleWave;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.circle-wrap:after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.circle-wrap .circle-grp:before {
  content: "";
  display: block;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(124, 229, 255, 0.3);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: circleWave;
          animation-name: circleWave;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.circle-wrap .circle-grp:after {
  content: "";
  display: block;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(124, 229, 255, 0.3);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: circleWave;
          animation-name: circleWave;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.circle-wrap .circle-grp:before {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.circle-wrap .circle-grp:after {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.circle-wrap .circle-conts {
  z-index: 1;
  position: relative;
}