@import "util";

// reset
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: $bg-color;
  font-size: 15px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", "dotum", Times, serif;
}

body * {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

button {
  border: 1px solid;
  outline: 0px none;
  background-color: transparent;
}

// common
.l-center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.infomation {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

.link-wrapper {
  z-index: 50;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #fff;
}

.gnb-link {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #333;

  @include hover {
    color: yellowgreen;
  }

  &.on {
    border-bottom: 1px solid yellowgreen;
    color: yellowgreen;
  }

  @media all and (max-width: 1024px) {
    margin-right: 5px;
    padding: 5px;
    font-size: 12px;
  }
}

.d-none {
  display: none;
}
