html,
body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e5e5e5;
  font-size: 15px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body * {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: 1px solid;
  outline: 0px none;
  background-color: transparent;
}

.buttons_wrap {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0px 20px;
}

.buttons_wrap .btn {
  position: relative;
  width: 100px;
  height: 50px;
  line-height: 50px;
  margin: 10px;
  outline: 0px none;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
}

.buttons_wrap .btn ._txt {
  display: block;
  width: 100%;
  height: 100%;
}

.buttons_wrap1 .btn {
  border: 0px none;
  background: -webkit-gradient(linear, right top, left top, from(#009fff), to(#ff00ff));
  background: linear-gradient(to left, #009fff, #ff00ff);
  color: white;
}

.buttons_wrap1 .btn1 {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  overflow: hidden;
}

.buttons_wrap1 .btn1:before {
  content: "";
  display: block;
  position: absolute;
  top: 44px;
  left: 0%;
  width: 202px;
  height: 3px;
  background: -webkit-gradient(linear, right top, left top, from(#ff00ff), color-stop(50%, #009fff), to(#ff00ff));
  background: linear-gradient(to left, #ff00ff 0%, #009fff 50%, #ff00ff 100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.buttons_wrap1 .btn1:hover {
  background: -webkit-gradient(linear, right top, left top, from(#ff00ff), to(#009fff));
  background: linear-gradient(to left, #ff00ff, #009fff);
  background-clip: text;
  -webkit-background-clip: text;
}

.buttons_wrap1 .btn1:hover:before {
  left: -100%;
}

.buttons_wrap1 .btn2 {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  overflow: hidden;
}

.buttons_wrap1 .btn2:before, .buttons_wrap1 .btn2:after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#ff00ff), to(#009fff));
  background: linear-gradient(to right, #ff00ff 0%, #009fff 100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.buttons_wrap1 .btn2:before {
  top: 0px;
  left: 0px;
}

.buttons_wrap1 .btn2:after {
  bottom: 0px;
  right: 0px;
}

.buttons_wrap1 .btn2 ._txt:before,
.buttons_wrap1 .btn2 ._txt:after {
  content: "";
  display: block;
  position: absolute;
  height: 0px;
  width: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.buttons_wrap1 .btn2 ._txt:before {
  right: 0px;
  top: 0px;
  background-color: #009fff;
}

.buttons_wrap1 .btn2 ._txt:after {
  left: 0px;
  bottom: 0px;
  background-color: #ff00ff;
}

.buttons_wrap1 .btn2:hover:before {
  width: 100px;
}

.buttons_wrap1 .btn2:hover ._txt:before {
  height: 50px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.buttons_wrap1 .btn2:hover:after {
  width: 100px;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.buttons_wrap1 .btn2:hover ._txt:after {
  height: 50px;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.buttons_wrap1 .btn3 {
  overflow: hidden;
}

.buttons_wrap1 .btn3:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: -33px;
  width: 20px;
  height: 100%;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.buttons_wrap1 .btn3:hover:before {
  left: 113px;
}

.buttons_wrap1 .btn4 {
  background: none;
  color: #009fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.buttons_wrap1 .btn4:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#009fff), to(#ff00ff));
  background: linear-gradient(to left, #009fff, #ff00ff);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.buttons_wrap1 .btn4 ._txt {
  position: relative;
}

.buttons_wrap1 .btn4:hover {
  color: white;
}

.buttons_wrap1 .btn4:hover:before {
  width: 100%;
}

.buttons_wrap1 .btn5 {
  background: none;
}

.buttons_wrap1 .btn5:before, .buttons_wrap1 .btn5:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, right top, left top, from(#009fff), to(#ff00ff));
  background: linear-gradient(to left, #009fff, #ff00ff);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.buttons_wrap1 .btn5:before {
  top: 0px;
  left: 0px;
}

.buttons_wrap1 .btn5:after {
  bottom: 0px;
  left: 0px;
}

.buttons_wrap1 .btn5 ._txt:before,
.buttons_wrap1 .btn5 ._txt:after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 100%;
}

.buttons_wrap1 .btn5 ._txt:before {
  top: 0px;
  right: 0px;
  background-color: #009fff;
}

.buttons_wrap1 .btn5 ._txt:after {
  top: 0px;
  left: 0px;
  background-color: #ff00ff;
}

.buttons_wrap1 .btn5 ._txt {
  position: relative;
  background: -webkit-gradient(linear, right top, left top, from(#009fff), to(#ff00ff));
  background: linear-gradient(to left, #009fff, #ff00ff);
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
}

.buttons_wrap1 .btn5:hover:before, .buttons_wrap1 .btn5:hover:after {
  height: 50%;
}

.buttons_wrap1 .btn5:hover ._txt {
  color: white;
}

.buttons_wrap1 .btn6 {
  background: -webkit-gradient(linear, right top, left top, from(#009fff), color-stop(50%, #ff00ff), to(#009fff));
  background: linear-gradient(to left, #009fff 0%, #ff00ff 50%, #009fff 100%);
  background-size: 200%;
  background-position: left center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.buttons_wrap1 .btn6:hover {
  background-position: right center;
}

.buttons_wrap2 .btn {
  border: 0px none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.buttons_wrap2 .btn1 {
  -webkit-box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 5px #fff;
          box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 5px #fff;
}

.buttons_wrap2 .btn1:hover {
  -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.5), inset -2px -2px 3px #fff;
          box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.5), inset -2px -2px 3px #fff;
}

.buttons_wrap2 .btn1:active {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7), inset -1px -1px 5px #fff;
          box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7), inset -1px -1px 5px #fff;
}

.buttons_wrap2 .btn2 {
  -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3), -6px -6px 10px #fff;
          box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3), -6px -6px 10px #fff;
}

.buttons_wrap2 .btn2:hover {
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px #fff;
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px #fff;
}

.buttons_wrap2 .btn2:active {
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3), -1px -1px 2px #fff;
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3), -1px -1px 2px #fff;
}

.buttons_wrap2 .btn3 {
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3), -5px -5px 8px #fff;
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3), -5px -5px 8px #fff;
}

.buttons_wrap2 .btn3:hover {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 8px #fff;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 8px #fff;
}

.buttons_wrap2 .btn3:active {
  -webkit-box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5), inset -1px -1px 4px #fff;
          box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5), inset -1px -1px 4px #fff;
}

.buttons_wrap2 .btn4 {
  -webkit-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.3), inset -1px -1px 6px #fff;
          box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.3), inset -1px -1px 6px #fff;
}

.buttons_wrap2 .btn4:hover {
  -webkit-box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.3), inset -3px -3px 6px #fff;
          box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.3), inset -3px -3px 6px #fff;
}

.buttons_wrap2 .btn4:active {
  -webkit-box-shadow: inset 5px 5px 7px rgba(0, 0, 0, 0.3), inset -5px -5px 7px #fff;
          box-shadow: inset 5px 5px 7px rgba(0, 0, 0, 0.3), inset -5px -5px 7px #fff;
}

.buttons_wrap2 .btn5 {
  position: relative;
}

.buttons_wrap2 .btn5:before, .buttons_wrap2 .btn5:after,
.buttons_wrap2 .btn5 ._txt:before,
.buttons_wrap2 .btn5 ._txt:after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #000;
}

.buttons_wrap2 .btn5:before {
  top: 0px;
  left: 0px;
}

.buttons_wrap2 .btn5:after {
  bottom: 0px;
  left: 0px;
}

.buttons_wrap2 .btn5 ._txt:before,
.buttons_wrap2 .btn5 ._txt:after {
  width: 1px;
  height: 0%;
}

.buttons_wrap2 .btn5 ._txt:before {
  top: 0px;
  left: 0px;
}

.buttons_wrap2 .btn5 ._txt:after {
  top: 0px;
  right: 0px;
}

.buttons_wrap2 .btn5:hover:before {
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.buttons_wrap2 .btn5:hover:after {
  width: 100%;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}

.buttons_wrap2 .btn5:hover ._txt:before {
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.buttons_wrap2 .btn5:hover ._txt:after {
  height: 100%;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}

.buttons_wrap2 .btn6 {
  position: relative;
}

.buttons_wrap2 .btn6:before, .buttons_wrap2 .btn6:after,
.buttons_wrap2 .btn6 ._txt:before,
.buttons_wrap2 .btn6 ._txt:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.buttons_wrap2 .btn6:before {
  top: 0px;
  left: 0px;
}

.buttons_wrap2 .btn6:after {
  bottom: 0px;
  right: 0px;
}

.buttons_wrap2 .btn6 ._txt:before,
.buttons_wrap2 .btn6 ._txt:after {
  width: 1px;
  height: 5px;
}

.buttons_wrap2 .btn6 ._txt:before {
  top: 0px;
  left: 0px;
}

.buttons_wrap2 .btn6 ._txt:after {
  bottom: 0px;
  right: 0px;
}

.buttons_wrap2 .btn6:hover {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.buttons_wrap2 .btn6:hover:before, .buttons_wrap2 .btn6:hover:after {
  width: 100%;
}

.buttons_wrap2 .btn6:hover ._txt:before,
.buttons_wrap2 .btn6:hover ._txt:after {
  height: 100%;
}

.buttons_wrap2 .btn7 {
  position: relative;
}

.buttons_wrap2 .btn7:before, .buttons_wrap2 .btn7:after,
.buttons_wrap2 .btn7 ._txt:before,
.buttons_wrap2 .btn7 ._txt:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.buttons_wrap2 .btn7:before {
  top: 0px;
  left: 0px;
}

.buttons_wrap2 .btn7:after {
  bottom: 0px;
  right: 0px;
}

.buttons_wrap2 .btn7 ._txt:before,
.buttons_wrap2 .btn7 ._txt:after {
  width: 1px;
  height: 100%;
}

.buttons_wrap2 .btn7 ._txt:before {
  top: 0px;
  right: 0px;
}

.buttons_wrap2 .btn7 ._txt:after {
  bottom: 0px;
  left: 0px;
}

.buttons_wrap2 .btn7 .border:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.buttons_wrap2 .btn7:hover {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.buttons_wrap2 .btn7:hover:before {
  width: 0px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.buttons_wrap2 .btn7:hover:after {
  width: 0px;
}

.buttons_wrap2 .btn7:hover ._txt:before {
  height: 0px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.buttons_wrap2 .btn7:hover ._txt:after {
  height: 0px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.buttons_wrap2 .btn7:hover .border:before {
  width: 100%;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.buttons_wrap2 .btn7:active {
  text-shadow: none;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.buttons_wrap2 .btn8 ._txt {
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.buttons_wrap2 .btn8:after {
  content: attr(data-text);
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.buttons_wrap2 .btn8:hover ._txt {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  opacity: 0;
}

.buttons_wrap2 .btn8:hover:after {
  top: 0;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  opacity: 1;
}

.buttons_wrap3 .btn {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.buttons_wrap3 .btn1 {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.buttons_wrap3 .btn1:hover {
  text-shadow: none;
}

.buttons_wrap3 .btn2 {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.buttons_wrap3 .btn2:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.buttons_wrap3 .btn3:hover {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.buttons_wrap3 .btn3:active {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-shadow: none;
}

.buttons_wrap4 .btn {
  border: 3px solid #666;
  border-radius: 10px;
  line-height: 41px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.buttons_wrap4 .btn1 {
  background-color: hotpink;
  color: #666;
  -webkit-box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(255, 255, 255, 0.7);
          box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(255, 255, 255, 0.7);
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.5);
}

.buttons_wrap4 .btn1:before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 8px;
  width: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.buttons_wrap4 .btn1:hover {
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3), inset 0px 0px 5px rgba(255, 255, 255, 0.7);
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3), inset 0px 0px 5px rgba(255, 255, 255, 0.7);
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
}

.buttons_wrap4 .btn1:hover:before {
  content: none;
}

.buttons_wrap4 .btn2:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
