@import "util";

.modal {
  @include flex-center;

  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.active {
    z-index: 10;
  }
}

.modal-bg {
  z-index: 1;
  position: relative;
  width: 0%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.6);

  @at-root .active & {
    width: 100%;
    height: 100%;
  }
}

.modal-container {
  opacity: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 720px;
  width: 90%;
  transform: translate(-50%, -50%);

  @at-root .active & {
    opacity: 1;
  }

  .buttons_wrap {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .btn {
    min-width: 200px;
    margin: 0;
    padding: 0 20px;

    &:before {
      width: 20px;
    }
  }
}

.modal-conts-wrap {
  opacity: 0;
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  background-color: white;

  @at-root .active & {
    opacity: 1;
    transition: opacity 0.3s 1200ms;
  }
}

.modal-ttl {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid navy;
  line-height: 1.5;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}

.modal-desc {
  padding: 30px 0;
  line-height: 1.6;
  font-weight: 400;
  font-size: 18px;
  white-space: pre-line;
  text-align: center;

  .img {
    margin-top: 64px;
  }
}

.modal-interaction-stick {
  &.stick1 {
    @include make-virtual {
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: white;

      @at-root .active & {
        width: 50%;
        transition: all 0.3s linear;
      }
    }

    &:after {
      left: auto;
      right: 50%;
    }
  }

  &.stick2 {
    @include make-virtual {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 0;
      background-color: white;

      @at-root .active & {
        height: 100%;
        transition: all 0.3s 0.3s linear;
      }
    }

    &:after {
      left: auto;
      right: 0;
    }
  }

  &.stick3 {
    @include make-virtual {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: white;

      @at-root .active & {
        width: 50%;
        transition: all 0.3s 0.6s linear;
      }
    }

    &:after {
      left: auto;
      right: 0;
    }
  }
}
