.ani-wrap {
  margin: 50px 0;
}

@-webkit-keyframes slide_obj {
  0% {
    opacity: 1;
    -webkit-transform: translateX(1300px);
            transform: translateX(1300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
}

@keyframes slide_obj {
  0% {
    opacity: 1;
    -webkit-transform: translateX(1300px);
            transform: translateX(1300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
}
.ani-wrap1 *:before,
.ani-wrap1 *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ani-wrap1 .load-wrap {
  overflow: hidden;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  border-bottom: 5px solid black;
  background-color: skyblue;
}
.ani-wrap1 .tree {
  z-index: 2;
  opacity: 0;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 150px;
}
.ani-wrap1 .tree:before {
  content: "";
  display: block;
  border-bottom: 100px solid green;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}
.ani-wrap1 .tree:after {
  content: "";
  display: block;
  width: 10px;
  height: 50px;
  margin-left: 22px;
  background-color: brown;
}
.ani-wrap1 .tree1 {
  -webkit-animation-name: slide_obj;
          animation-name: slide_obj;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
.ani-wrap1 .tree2 {
  -webkit-animation-name: slide_obj;
          animation-name: slide_obj;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.ani-wrap1 .tree3 {
  -webkit-animation-name: slide_obj;
          animation-name: slide_obj;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.ani-wrap1 .tree4 {
  -webkit-animation-name: slide_obj;
          animation-name: slide_obj;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}
.ani-wrap1 .tree5 {
  -webkit-animation-name: slide_obj;
          animation-name: slide_obj;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.ani-wrap1 .tree6 {
  -webkit-animation-name: slide_obj;
          animation-name: slide_obj;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}
.ani-wrap1 .mountain-wrap {
  -webkit-animation-name: slide_obj;
          animation-name: slide_obj;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
.ani-wrap1 .mountain {
  opacity: 0.7;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: green;
  border-radius: 40px;
  -webkit-transform: rotate(45deg) translateY(70%);
          transform: rotate(45deg) translateY(70%);
}
.ani-wrap1 .mountain:before {
  content: "";
  display: block;
  position: absolute;
  top: 110px;
  left: -100px;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  background-color: green;
}
.ani-wrap1 .mountain:after {
  content: "";
  display: block;
  position: absolute;
  top: -70px;
  left: 120px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: green;
}
.ani-wrap1 .car-wrap {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.ani-wrap1 .car-body {
  position: relative;
  bottom: 20px;
  width: 40px;
  height: 60px;
  border-radius: 10px 10px 0 0;
  border: 4px solid white;
}
.ani-wrap1 .car-body:after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: white;
}
.ani-wrap1 .car-side:before {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  bottom: 20px;
  right: 100%;
  width: 22px;
  height: 26px;
  border-radius: 6px 0 0 0;
  background-color: white;
}
.ani-wrap1 .car-side:after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  bottom: 20px;
  left: 100%;
  width: 15px;
  height: 26px;
  border-radius: 0 6px 0 0;
  background-color: white;
}
.ani-wrap1 .car-wheel:before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  top: auto;
  bottom: 0;
  right: 35px;
  border: 4px solid white;
  background-color: rgba(255, 255, 255, 0.4);
}
.ani-wrap1 .car-wheel:after {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 30px;
  border: 4px solid white;
  background-color: rgba(255, 255, 255, 0.4);
}

@-webkit-keyframes cup_steam {
  0% {
    opacity: 0.2;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  10% {
    opacity: 0.3;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cup_steam {
  0% {
    opacity: 0.2;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  10% {
    opacity: 0.3;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.ani-wrap2 {
  padding-top: 100px;
}
.ani-wrap2 .cup {
  position: relative;
  max-width: 400px;
  height: 280px;
  margin: 0 auto;
}
.ani-wrap2 .steam {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgb(228, 198, 98);
}
.ani-wrap2 .steam1 {
  -webkit-animation-name: cup_steam;
          animation-name: cup_steam;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-transform: translate(-50%, -180%);
          transform: translate(-50%, -180%);
}
.ani-wrap2 .steam2 {
  -webkit-animation-name: cup_steam;
          animation-name: cup_steam;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-transform: translate(-80%, -190%);
          transform: translate(-80%, -190%);
}
.ani-wrap2 .steam3 {
  -webkit-animation-name: cup_steam;
          animation-name: cup_steam;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-transform: translate(-50%, -160%);
          transform: translate(-50%, -160%);
}
.ani-wrap2 .steam4 {
  -webkit-animation-name: cup_steam;
          animation-name: cup_steam;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  -webkit-transform: translate(-30%, -170%);
          transform: translate(-30%, -170%);
}
.ani-wrap2 .cup-body {
  z-index: 2;
  overflow: hidden;
  position: relative;
  width: 80%;
  height: 100%;
  border-radius: 0 0 180px 180px;
  background-color: rgb(253, 255, 230);
}
.ani-wrap2 .cup-body:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #f9ffb3;
  -webkit-transform: skew(-48deg);
          transform: skew(-48deg);
}
.ani-wrap2 .cup-handle {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 80%;
  width: 40%;
  height: 60%;
  border-radius: 50%;
  border: 25px solid #f9ffb3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.ani-wrap2 .cup-holder {
  overflow: hidden;
  z-index: 3;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 40px;
  border-radius: 0 0 100px 100px;
  background-color: rgb(253, 255, 230);
}
.ani-wrap2 .cup-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #f9ffb3;
  -webkit-transform: skew(-83deg);
          transform: skew(-83deg);
}