@import "util";
.scr-wrap {
  margin-top: 20px;
  outline: 1px solid;
}

// highlight
.scr-wrap1 {
  .txt-wrap {
    font-size: 25px;
  }

  .highlight {
    position: relative;

    .txt {
      z-index: 1;
      position: relative;
    }

    @include make-before {
      z-index: 0;
      position: absolute;
      top: 50%;
      left: -5px;
      width: 0;
      height: 20px;
      background-color: yellow;
      transform: translateY(-50%);
      transition: all 0s linear;
    }
  }

  @include hover {
    .highlight:before {
      width: calc(100% + 10px);
      transition-duration: 0.3s;
    }
  }
}

// section coloring
.scr-wrap2 {
  .section-wrap {
    @include flex-center;

    position: relative;
    height: 500px;

    .contents-wrap {
      opacity: 0;
      z-index: 2;
      position: relative;
      font-size: 50px;
      text-transform: uppercase;
      transition: all 0.5s ease-in-out;
    }

    @include make-before {
      z-index: 0;
      background-color: white;
    }

    @include make-after {
      z-index: 1;
      background-color: #ddd;
    }

    &:before,
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      transition: all 0.5s ease-in-out;
    }
  }

  @include hover {
    .section-wrap:before {
      height: 100%;
    }

    .section-wrap:after {
      height: 100%;
      transition-delay: 0.2s;
    }

    .contents-wrap {
      opacity: 1;
      transition-delay: 0.4s;
    }
  }
}

// firework
.scr-wrap3 {
  .stick-wrap {
    position: relative;
    width: 300px;
    height: 300px;
  }

  .stick {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 10px;
    height: 50%;
    font-size: 0;
    color: transparent;
    user-select: none;
    transform-origin: bottom center;

    @include make-before {
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      width: 10px;
      height: 30px;
      border-radius: 5px;
      background-color: #ffbd54;
      transition: all 0.4s;
    }
  }

  @for $i from 1 through 8 {
    .stick#{$i} {
      transform: rotate($i * 45deg);
    }
  }

  @include hover {
    .stick:before {
      opacity: 1;
      top: 0;
      left: 0;
    }
  }
}

// receipt
.scr-wrap4 {
  .receipt-wrap {
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
  }

  .conts1 {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .conts2 {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
    height: 500px;
    margin: 20px auto 0;
    padding: 20px;
    border: 1px solid #cdcdcd;
    background-color: white;
    transform: translateY(-100%);
    transition: all 1s linear;
  }

  .conts3 {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  @include hover {
    .conts2 {
      transform: translateY(0%);
    }
  }
}
