.conts-wrap {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/bg_fixed02.png");
  background-attachment: fixed;
  min-height: 100vh;
  overflow: hidden;
}

.text {
  width: 100%;
  font-weight: 600;
  font-size: 80px;
  color: white;
  text-align: center;
}
.text img {
  width: 100%;
}