.conts-wrap {
  height: 700px;
  padding: 20px;
  border: 1px solid;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: pink;
}

.square {
  width: 100px;
  height: 100px;
  background-color: skyblue;
}