.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-conts {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/bg_fixed02.png");
  position: sticky;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  color: white;
  text-align: center;
}
.left-conts h1 {
  position: absolute;
  top: auto;
  bottom: 20px;
  width: 100%;
}

.right-conts {
  width: 50%;
  font-size: 3rem;
}

.flex-wrap1 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/bg_fixed01.png");
  display: block;
  padding: 0 20px;
  background-attachment: fixed;
}
.flex-wrap1 .left-conts {
  position: static;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-right: 50%;
  background: none;
  font-size: 3rem;
  text-align: left;
}
.flex-wrap1 .right-conts {
  width: 100%;
  padding-top: 50px;
  padding-left: 50%;
  color: white;
  text-align: right;
}