@import "util";

.flex-wrap {
  @include flex {
    @include flex-op(flex-start, space-between);
  }
}

.left-conts {
  @include bg-op($s: cover);
  @include bg-url(img, "bg_fixed02.png");

  position: sticky;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  color: white;
  text-align: center;

  h1 {
    position: absolute;
    top: auto;
    bottom: 20px;
    width: 100%;
  }
}

.right-conts {
  width: 50%;
  font-size: 3rem;
}

.flex-wrap1 {
  @include bg-op($s: cover);
  @include bg-url(img, "bg_fixed01.png");

  display: block;
  padding: 0 20px;
  background-attachment: fixed;

  .left-conts {
    position: static;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-right: 50%;
    background: none;
    font-size: 3rem;
    text-align: left;
  }

  .right-conts {
    width: 100%;
    padding-top: 50px;
    padding-left: 50%;
    color: white;
    text-align: right;
  }
}
